.git
.github
.phpunit.cache
.phpunit.result.cache
.env
.env.*
bootstrap/cache/*
docs
node_modules
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
vendor