APP_NAME=client-portal-be
APP_ENV=local
APP_KEY=base64:o0j6ZRhOLfC5hz+j4KB38B2jW7sMakruqfkhbBywlfs=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8003

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=15432
DB_DATABASE=client_portal
DB_USERNAME=client_portal
DB_PASSWORD=client_portal
DB_CHARSET=utf8
DB_SCHEMA=public
DB_SSLMODE=disable
DB_TIMEZONE=UTC
DB_APPLICATION_NAME=client_portal_be

SESSION_DRIVER=redis
SESSION_CONNECTION=default
SESSION_STORE=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=127.0.0.1
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_SECURE_COOKIE=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
REDIS_QUEUE_CONNECTION=default

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=16379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_CACHE_CONNECTION=cache

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

KEYCLOAK_BASE_URL=https://sso.skill-wanderer.com
KEYCLOAK_REALM=client-portal
KEYCLOAK_CLIENT_ID=client-portal-fe
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=http://127.0.0.1:8003/v1/auth/callback
KEYCLOAK_FRONTEND_DASHBOARD_URL=http://127.0.0.1:3000/dashboard
FRONTEND_APP_URL=http://127.0.0.1:3000
