/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/docs/
/storage/app/
/storage/framework/
/storage/logs/
/storage/*.key
/storage/pail
/vendor
.env
.env.local
.env.backup
.env.production
.env.testing
.env.testing.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/database/*.sqlite
/docker-compose.override.yml
/docker-compose.override.yaml
/docker-compose.local.yml
/docker-compose.*.local.yml
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.DS_Store
Thumbs.db
*.pid
*.seed
*.tmp
